####
# The MySQL database server configuration file.
# {{ ansible_managed }}
####
[client]
port={{ mysql_port }}
socket=/var/lib/mysql/mysql.sock

[mysqld]
port={{ mysql_port }}
socket=/var/lib/mysql/mysql.sock
datadir=/var/lib/mysql
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
bind-address={{ mysql_bind_address }}
server-id               = {{ mysql_db_id }}

{% if mysql_utf8 %}
# apply utf8
character-set-server = utf8
collation-server = utf8_unicode_ci
{% endif %}

{% if mysql_repl_role == 'master' %}
log_bin                 = mysql-bin
expire_logs_days        = 10
max_binlog_size         = 100M

{% for i in mysql_db %}
{% if i.replicate|default(1) %}
binlog_do_db            = {{ i.name }}
{% endif %}
{% endfor %}

{% for i in mysql_db %}
{% if not i.replicate|default(1) %}
binlog_ignore_db        = {{ i.name }}
{% endif %}
{% endfor %}
{% endif %}

{% if mysql_default_storage_engine|lower == 'innodb' %}
#####################################
######### INNODB SETTINGS  ##########
#####################################

innodb_data_file_path = {{ mysql_innodb_data_file_path }}
innodb_log_file_size = {{ mysql_innodb_log_file_size }}
innodb_buffer_pool_size = {{ mysql_innodb_buffer_pool_size }}

innodb_log_buffer_size = {{ mysql_innodb_log_buffer_size }}
innodb_flush_log_at_trx_commit = {{ mysql_innodb_flush_log_at_trx_commit }}
innodb_thread_concurrency = {{ mysql_innodb_thread_concurrency }}
{% endif %}

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
{% if mysql_system_time_zone %}
# system time zone 
timezone = '{{ mysql_system_time_zone }}'
{% endif %}


